<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <title>DRDO Live Streaming</title>
    
</head>
<body>
    <nav class="navbar">
        <div class="logo-container">
          <img src="{{ url_for('static', filename='DRDO.jpg') }}" alt="DRDO Logo" class="logo">
            <h2 style="color: white; margin: 0;">DRDO</h2>
        </div>
    </nav>
    <div class="container">
        <h1>Live Streaming</h1>
        <div class="video-container">
            <img src="{{ url_for('video') }}" alt="Live Stream">
        </div>

        <div style="margin-top: -10px; text-align: center;">
            <h2 style="color: var(--primary-color);">Predicted BPM: <span id="bpm-value">--</span> bpm</h2>
        </div>
    </div>

</body>
<script>
    setInterval(() => {
        fetch('/bpm')
            .then(response => response.json())
            .then(data => {
                const bpm = data.bpm;
                if (bpm !== null) {
                    document.getElementById('bpm-value').innerText = bpm;
                } else {
                    document.getElementById('bpm-value').innerText = "--";
                }
            })
            .catch(err => {
                console.error('Error fetching BPM:', err);
            });
    }, 1000); 
</script>
</html>